In [1]:
# import important libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# load the data
data = pd.read_csv('retail_store_sales.csv')

In [3]:
# check the first few rows of the data
data.head(10)

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
0,TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.5,10.0,185.0,Digital Wallet,Online,2024-04-08,True
1,TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.0,9.0,261.0,Digital Wallet,Online,2023-07-23,True
2,TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.5,2.0,43.0,Credit Card,Online,2022-10-05,False
3,TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.5,9.0,247.5,Credit Card,Online,2022-05-07,NaN
4,TXN_4575373,CUST_05,Food,Item_6_FOOD,12.5,7.0,87.5,Digital Wallet,Online,2022-10-02,False
5,TXN_7482416,CUST_09,Patisserie,NaN,NaN,10.0,200.0,Credit Card,Online,2023-11-30,NaN
6,TXN_3652209,CUST_07,Food,Item_1_FOOD,5.0,8.0,40.0,Credit Card,In-store,2023-06-10,True
7,TXN_1372952,CUST_21,Furniture,NaN,33.5,NaN,NaN,Digital Wallet,In-store,2024-04-02,True
8,TXN_9728486,CUST_23,Furniture,Item_16_FUR,27.5,1.0,27.5,Credit Card,In-store,2023-04-26,False
9,TXN_2722661,CUST_25,Butchers,Item_22_BUT,36.5,3.0,109.5,Cash,Online,2024-03-14,False

In [4]:
# check the missing values

data.isnull().sum()

Transaction ID         0
Customer ID            0
Category               0
Item                1213
Price Per Unit       609
Quantity             604
Total Spent          604
Payment Method         0
Location               0
Transaction Date       0
Discount Applied    4199
dtype: int64

In [5]:
# Check the data types of the columns

data.dtypes

Transaction ID       object
Customer ID          object
Category             object
Item                 object
Price Per Unit      float64
Quantity            float64
Total Spent         float64
Payment Method       object
Location             object
Transaction Date     object
Discount Applied     object
dtype: object

### Why the Data Contains Nulls in Certain Columns

The dataset contains null values in several columns, which can be attributed to various reasons:

1. **Item**: This column has null values possibly because some transactions might not have a specific item associated with them, or the item information was not recorded.

2. **Price Per Unit**: Null values in this column could indicate that the price information was not available or not applicable for certain transactions.

3. **Quantity**: Similar to the price per unit, the quantity might not have been recorded for some transactions, leading to null values.

4. **Total Spent**: If either the price per unit or quantity is missing, the total spent cannot be calculated, resulting in null values in this column.

5. **Discount Applied**: This column has null values likely because not all transactions had discounts applied, or the discount information was not recorded.

These null values can arise due to data entry errors, missing information at the time of transaction, or specific business rules that do not require certain fields to be filled for some transactions.